/*  ****** Forms ****** */
.ml-form {
	padding: 20px;
	position: relative;
}
.ml-form-field {
	margin-bottom: 20px;
	display: block;
	width: 100%;
	max-width: 500px;
	position: relative;
	border: 0px;
	padding: 0;
}
/*  ****** Legend ****** */
.ml-form-field legend {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 13px;
	color: #333333;
}
/*  ****** Label ****** */
.ml-form-field label {
	position: relative;
	display: block;
	text-align: left;
	font-size: 13px;
	color: #333333;
}
.ml-form-field label span {
	display: inline;
	padding: 5px 2px 2px 2px; 
}
/*  ****** Form Field  ****** */
.ml-form-field input {
	padding: 10px;
	font: inherit;
	outline: none;
	border: 1px solid #757575;
	font-size: 13px;
	color: #333333;
	width: 100%;
	border-radius: 2px;
}

.ml-form-field input:focus {
	border: solid 1px #007abc;
}

.ml-form-field input:focus + span {
	color: #666666;
}

.ml-form-field span {
	background: #fff;
	color: #333;
}
.m1-form-field span:required{
	background: #DB1818;
	color: #FDE8E8;
}
/*  ******  Floating Label   ****** */
.ml-form[data-forms="floating-label"] input + span, .ml-form[data-forms="floating-label"] input[value=""] + span {
	transition: 0.3s ease;
	-webkit-transform: translateY(-0.5em);
	-ms-transform: translateY(-0.5em);
	transform: translateY(-0.5em);
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 13px;
	font-size: 13px;
	width: 90%;
}
.ml-form[data-forms="floating-label"] input:focus + span, .ml-form[data-forms="floating-label"] input:not([value=""]) + span {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	font-weight: bold;
	font-size: 13px;
	visibility: visible;
	top: -5px;
	margin-top: 13px;
	width: auto;
	background-color: #fff;
	text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
}
/*  ****** Radio buttons  ****** */
.ml-form-field-radio-group {
	width: auto;
	height: 18px;
	position: relative;
	margin: 20px auto;
	transition: all 250ms;
}
.ml-form-field-radio-group input {
	position: absolute;
	z-index: 5;
}
.ml-form-field-radio-group label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 90%;
	height: 16px;
	cursor: pointer;
	position: absolute;
	padding: 0px 0 0 25px;
}
.ml-form-field-radio-group label:before {
	content: '';
	width: 19px;
	height: 19px;
	position: absolute;
	top: -3px;
	left: 2px;
	border: solid 1px #757575;
	border-radius: 50%;
}
.ml-form-field-radio-group label:after {
	content: '';
	width: 7px;
	height: 7px;
	position: absolute;
	top: 3px;
	left: 8px;
	background-color: #007abc;
	border: solid 1px #007abc;
	border-radius: 50%;
	opacity: 0;
}
.ml-form-field-radio-group input[type=radio] {
	opacity: 0;
}
.ml-form-field-radio-group input[type=radio]:checked + label:after {
	opacity: 1;
}
.ml-form-field-radio-group input[type=radio]:focus + label:before, .ml-form-field-radio-group input[type=radio]:checked + label:before {
	border: solid 1px #007abc;
}

.ml-button-primary{
	box-sizing: content-box;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
	border-radius: 2px;
	padding: 12px 14px;
	border: 0;
	display: inline-block;
}

.ml-button-primary:hover, 
.ml-button-primary:focus, 
.hover.ml-button-primary{
	text-decoration: underline;
}

.ml-button-primary:focus, 
.focus.ml-button-primary{
	outline-color: #333;
	text-decoration: underline;
}

.focus.ml-button-primary{
	box-shadow: 0 0 3px #333, 0 0 7px #333;
}

.ml-button-primary {
	background-color: #007abc;
	color: #fff;
}

.ml-button-primary:hover, 
.ml-button-primary:focus,
.ml-button-primary.hover,
.ml-button-primary.focus {
	background-color: #0061a0;
}









